@import "tailwindcss";

@theme {
    --color-bg-muted: hsl(190, 15%, 5%);
    --color-bg-base: hsl(190, 15%, 10%);
    --color-bg-active: hsl(190, 15%, 20%);
    --color-bg-focus: hsl(190, 15%, 40%);

    --color-text-primary: hsl(190, 15%, 90%);
    --color-text-secondary: hsl(190, 15%, 80%);
    --color-text-muted: hsl(190, 15%, 65%);

    --color-highlight: hsl(190, 15%, 30%);

    --color-brand-muted: hsl(190, 50%, 30%);
    --color-brand-base: hsl(190, 50%, 40%);
    --color-brand-active: hsl(190, 50%, 50%);
    --color-brand-focus: hsl(190, 50%, 70%);

    --color-errortxt: hsl(0, 40%, 50%);
    --color-errorbg: hsl(0, 50%, 25%);

    --color-danger-muted: hsl(0, 30%, 30%);
    --color-danger-base: hsl(0, 30%, 40%);
    --color-danger-active: hsl(0, 50%, 50%);
    --color-danger-focus: hsl(0, 50%, 70%);

    --color-event-released: var(--color-green-500);
    --color-event-due: var(--color-red-500);
    --color-event-task: var(--color-amber-500);

    --color-shadow-base: hsla(190, 15%, 5%, 0.7);

    --animate-spin-once: spin-once 500ms ease-out;

    @keyframes spin-once {
        0% {      
            transform: rotate(0deg);    
        }    
        100% {      
            transform: rotate(360deg);    
        }
    }

    --animate-slide-down: slide-down 500ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes slide-down {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-slide-up: slide-up 500ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes slide-up {
        from {
            opacity: 0;
            transform: translateY(0.5rem);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-fade-out: fade-out 500ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    /* Accordion */
    --animate-accordion-content-slide-up: accordion-content-slide-up 300ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes accordion-content-slide-up {
        from {
            height: var(--reka-accordion-content-height);
            opacity: 1;
            transform: translateY(0);
        }

        to {
            height: 0;
            opacity: 0;
            transform: translateY(-0.5rem);
        }
    }

    --animate-accordion-content-slide-down: accordion-content-slide-down 300ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes accordion-content-slide-down {
        from {
            height: 0;
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            height: var(--reka-accordion-content-height);
            opacity: 1;
            transform: translateY(0);
        }
    }
}

body {
    @apply bg-bg-muted text-text-secondary md:overflow-hidden;
}

@layer base {
    html[data-theme='light'] {
        --color-bg-muted: hsl(190, 10%, 86%);
        --color-bg-base: hsl(190, 10%, 92%);
        --color-bg-active: hsl(190, 10%, 96%);
        --color-bg-focus: hsl(190, 15%, 100%);

        --color-text-primary: hsl(190, 10%, 10%);
        --color-text-secondary: hsl(190, 10%, 20%);
        --color-text-muted: hsl(190, 15%, 35%);

        --color-highlight: hsl(190, 15%, 70%);
        
        --color-brand-muted: hsl(190, 50%, 70%);
        --color-brand-base: hsl(190, 50%, 60%);
        --color-brand-active: hsl(190, 50%, 50%);
        --color-brand-focus: hsl(190, 50%, 30%);

        --color-errortxt: hsl(0, 40%, 50%);
        --color-errorbg: hsl(0, 50%, 75%);

        --color-event-released: var(--color-green-700);
        --color-event-due: var(--color-red-700);
        --color-event-task: var(--color-amber-700);

        --color-shadow-base: hsla(190, 15%, 5%, 0.3);
    }
}

@layer components {
    .card {
        @apply bg-bg-base rounded-lg p-2 ring-1 ring-inset ring-highlight;
    }

    .dropdown-content {
        @apply w-52 bg-bg-active rounded-md p-1 shadow-sm shadow-shadow-base ring-1 ring-inset ring-highlight mt-1 overflow-hidden;
    }

    .link-text {
        @apply text-brand-active hover:underline hover:text-brand-focus;
    }

    .animate-dynamic-slide {
        @apply data-[side=top]:animate-slide-up
            data-[side=top]:data-[state=closed]:animate-fade-out
            data-[side=bottom]:animate-slide-down
            data-[side=bottom]:data-[state=closed]:animate-fade-out;
    }
}

/* transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


.scale-enter-active,
.scale-leave-active {
    transition: all 0.1s;
}
.scale-enter-from,
.scale-leave-to {
    transform: scale(0.85);
    opacity: 0;
}
