@import "tailwindcss";

@theme {
    --color-surface: hsl(190, 15%, 5%);
    --color-base: hsl(190, 15%, 10%);
    --color-elevated: hsl(190, 15%, 20%);

    --color-brand-700: hsl(190, 50%, 30%);
    --color-brand-600: hsl(190, 50%, 40%);
    --color-brand-500: hsl(190, 50%, 50%);
    --color-brand-400: hsl(190, 50%, 60%);
    --color-brand-300: hsl(190, 50%, 70%);
    --color-brand-200: hsl(190, 50%, 80%);
    --color-brand-100: hsl(190, 50%, 90%);
    --color-brand-50: hsl(190, 50%, 95%);

    --color-errortxt: hsl(0, 40%, 50%);
    --color-errorbg: hsl(0, 50%, 25%)
}

body {
    @apply bg-surface text-brand-50;
}

@layer base {
    html[data-theme='light'] {
        --color-surface: hsl(190, 10%, 86%);
        --color-base: hsl(190, 10%, 92%);
        --color-elevated: hsl(190, 10%, 96%);
        
        --color-brand-700: hsl(190, 50%, 70%);
        --color-brand-600: hsl(190, 50%, 60%);
        --color-brand-500: hsl(190, 50%, 50%);
        --color-brand-400: hsl(190, 50%, 40%);
        --color-brand-300: hsl(190, 50%, 30%);
        --color-brand-200: hsl(190, 50%, 20%);
        --color-brand-100: hsl(190, 50%, 10%);
        --color-brand-50:  hsl(190, 50%, 5%);

        --color-errortxt: hsl(0, 40%, 50%);
        --color-errorbg: hsl(0, 50%, 75%);
    }
}